<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- START : Meta keywords -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- END : Meta keywords -->

		<!-- Title -->
		<title>Blocks Hat</title>

		<!-- Main Stylesheet -->
		<link rel="stylesheet" href="css/main.css" />
	</head>

	<body>
		<!-- START : Header -->
		<header></header>
		<!-- END : Header -->

		<!-- START : Main -->
		<main></main>
		<!-- END : Main -->

		<!-- STRAT : Footer -->
		<footer></footer>
		<!-- END : Footer -->

		<!-- START : Bundle script -->
		<script src="./bundle.js"></script>
		<!-- END : Bundle script -->
	</body>
</html>
